@import "../styles/colours";
@import "../styles/fontsAndTextStyles";
@import "../styles/margins";

* {
    font-family: $main_font;
}

.contact_main {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: $left_margin_desktop;
    margin-right: $right_margin_desktop;
}

.contact_text_container{
    max-width: 500px;

    h1{ 
        color: $primary_text_colour;
        @include standardTitle
    }

    p {
        color: $primary_text_colour;
        @include standardParagraph; 
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.side_image {
     object-fit: none;
     height: 800px;
     max-width: 50%;
     padding-left: 30px   ;
}

@media screen and (max-width:900px) {
    .side_image {
        display: none;
    }

    .contact_main {
        flex-direction: column;
        justify-content: center;
        margin-left: $side_margins_mobile;
        margin-right: $side_margins_mobile;
    }
}